/* 
Inline CSS 
Eternal CSS
Componenet Liberaries : Material UI ,Chakra Ui ,Boostrap , Ant Design
Styled Component

Talwind CSS 
   - CSS in One GO
   - Resuability
   - Customiation 
   - 




*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:  'Kalnia'; */
    font-family: 'Kalnia', serif;
  }

.logo {
    width: 4rem;

}



.header{
    width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid #d9d9d9;;
}

.header ul a{
    text-decoration: none;
    color: currentColor;
}

.header .logIn-btn{
    padding: 0.5rem 1rem;
    background: #000000d4;
    border: 0.2rem solid #363430ba;
    border-radius: 1.2rem;
    color: white;
    font-weight: 700;
    width: 5rem;
}

.header-list{
    list-style-type: none;
}

.header-list li{
    display: inline-block;
    margin:  0 2rem;
    font-weight: 800;
    color: #000000bd;
    cursor: pointer;
}

.header-list li svg{
    transform: translate(1px, 2px);
}

/* restaurents */

.restaurents-carousel{
    display: flex;
    overflow-x: scroll;
    gap: 1rem 4vw;
    padding: 1rem;
    scroll-snap-type:x mandatory;
/* border: 0.1rem solid blue; */
scroll-behavior: smooth;

}

.restaurents-carousel-heading{
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0 0rem;

}

.scroll-bar-arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 2rem;
}

.scroll-bar-arrows svg{
    font-size: 2rem;
    background: #00000029;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-items{
    scroll-snap-align: center;
}

.restaurents-carousel::-webkit-scrollbar {
    display: none;
  }
.restaurents-carousel .carousel-items img{
    width: 30vw;

}

.main{
    padding: 1rem 15vw;
}

.restaurents{
   
    /* padding: 1rem; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 4vw;

   
}



.restaurents h1 , .restaurents-carousel h1{
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    /* font-family: "Basis Grotesque Pro"; */
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis;  */
}


.more-restaurant-btn{
    padding: 0.5rem 4vw;
    background: #000000d4;
    border: 0.2rem solid #363430ba;
    border-radius: 1.2rem;
    color: white;
    font-weight: 700;
}



/* SEARCH BAR */

.search-bar{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search-bar .search-restaurent{
    padding:0.4rem 0.3rem;
    outline: none;
    width: 40%;
   border: 1px solid hsl(0, 0%, 87%);
    border-radius: 0.1rem;
    font-weight: 800;
}
.search-bar button{
    padding: 0.3rem 3vw;
    background: #000000d4;
    border: 0.2rem solid #363430ba;
    border-radius: 0.2rem;
    color: white;
    font-weight: 700;
    margin: 0 0.3rem;

}


/* Restaurent Card */
/* 
.restaurent-card:not(:hover){
    opacity: 0.9;
} */
.restaurent-card:hover{
   transform: scale(0.9,0.9);
   
}

.restaurent-card img{
    width: 100%;
    object-fit: cover;
}
.restaurent-card{
    max-width:  15rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    /* display: grid; */
    /* grid-template-rows: 1fr 0.5fr; */
    width: 100%;
    flex: 1 1 33%;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    text-decoration: none;

 

}



.card-content h3{
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.759);
}
.card-content h5{
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.759);
   
}
.card-content h5 svg{
    transform: translate(4px, 1px);
}
.card-content h3 svg{
    transform: translate(0px, 1px);
    color: coral;
}

.card-image{
    width: 100%;
    height: 10rem;
    background: linear-gradient(357deg, #292626 1rem, #ffffff17 5rem);
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.card-image::after{
    content: attr(data-offers);
    display: inline-block;
    position: absolute;
    bottom: 2%;
    z-index: 2;
    left: 4%;
    color: #ffffffe6;
    font-size: 1.2rem;
    font-weight: 700;
}
.card-image img{
    position: relative;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

/* Footer */

.footer{
    text-align: center;
    padding: 1rem;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.458);
    font-weight: 800;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}


